<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>L</string>
		<key>description</key>
		<string>Sukhna Lake</string>
		<key>latitude</key>
		<real>30.7421</real>
		<key>longitude</key>
		<real>76.8188</real>
	</dict>
	<dict>
		<key>title</key>
		<string>T</string>
		<key>description</key>
		<string>Rock Garden</string>
		<key>latitude</key>
		<real>30.7525</real>
		<key>longitude</key>
		<real>76.81010000000001</real>
	</dict>
</array>
</plist>
